<%= form_for(@user) do |f| %>
<ul>
  <%= render 'layouts/error_messages', model: f.object %>
      </ul>
        <label class="control-label sr-only" for="inputEmail">Name</label>
        <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"名前"%>

         <label class="control-label sr-only" for="inputEmail">Image</label>
    <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
        <label class="control-label sr-only" for="inputEmail">Introduction</label>
        <%= f.text_area :introduction %>
        <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
    <div class="form-group has-icon">
    <div class="user-edit-image">
    </div>
</div>
    <%= f.submit "変更を保存", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
<% end %>
<footer>
    <div class ="row">
      <p>CopyRight Infratop.inc</p>
    </div>
  </footer>