<div class="container">
  <%= render 'layouts/error_messages', model: @book %>
  <div class="row">
<div class="col-xs-3">
<h1>User info</h1>
 <%=  attachment_image_tag current_user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
      <table class="table">
        <tbody>
      <tr>
      <th>name</th>
    <th><%= current_user.name %></th>
      </tr>
      <tr>
    <th>introduction</th>
    <th><%= current_user.introduction %></th>
      </tr>
      <tr>
    <th>follows</th>
    <th><%= link_to current_user.followings.count,follows_user_path(current_user) %></th>
      </tr>
      <tr>
        <th>followers</th>
        <th><%= link_to current_user.followers.count,followers_user_path(current_user) %></th>
      </tr>
    </tbody>
  </table>
  <%= link_to edit_user_path(current_user), class: 'btn btn-default btn-block' do %>
  <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
  <% end %>
   <%= form_for(@book) do |f| %>
   <h1>New book</h1>
   <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
    <%= f.text_area :body %>

    <%= f.submit 'Create Book',class: 'btn btn-primary btn-block' %>
    <% end %>
</div>
    <%= render 'books/list', books: @books %>

</div>
</div>
<footer>
    <div class ="bottom">
      <p>CopyRight Infratop.inc</p>
    </div>
  </footer>

