<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<div class="container">
  <div class="row">
  <div class="col-xs-3">
<h1>User info</h1>
 <%=  attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
      <table class="table">
        <tbody>
      <tr>
      <th>name</th>
    <th><%= @user.name %></th>
      </tr>
      <tr>
    <th>introduction</th>
    <th><%= @user.introduction %></th>
      </tr>
       <tr>
    <th>follows</th>
    <th><%= link_to @user.followings.count,follows_user_path(@user) %></th>
      </tr>
      <tr>
        <th>followers</th>
        <th><%= link_to @user.followers.count,followers_user_path(@user) %></th>
      </tr>
    </tbody>
  </table>
  <%= link_to edit_user_path(current_user), class: 'btn btn-default btn-block' do %>
  <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
  <% end %>
<%= form_for(@booknew) do |f| %>
   <h1>New book</h1>
   <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
    <%= f.text_area :body %>

    <%= f.submit 'Create Book', class: 'btn btn-primary btn-block' %>

<% end %>
</div>
<div class ="col-xs-9">
  <h1>Book detail</h1>

   <table class="table">
    <thead>
    <tr>
      <th></th>
      <th></th>
   <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <tr>
        <td><%= link_to user_path(@user) do %>
        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %> <%= @user.name %>
        <% end %>
        </td>
        <td><%= link_to @book.title, book_path %></td>
        <td><%= @book.body %></td>
        <% if @user.id == current_user.id %>
        <td><%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-success' %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: {confirm: '本当に消しますか?' },class: 'btn btn-danger' %>
        </td>
        <% end %>
         <td id="favorites_buttons_<%= @book.id %>">
        <%= render partial: 'favorites/favorite', locals: { book: @book} %>
        <td>コメント数:<%= @book.book_comments.count %></td>
   </tr>
    </tbody>
     </table>
<div id="book_comments_area">
　　<%= render 'books/comment_index',book: @book %>
</div>
    <% if @user.id != current_user.id %>
<%= render partial:'book_comments/form', locals: {book_comment: @book_comment, book: @book} %>
      <% end %>
</div>
</div>
</div>
<footer>
    <div class ="bottom">
      <p>CopyRight Infratop.inc</p>
    </div>
  </footer>