<!DOCTYPE html>
<html>
  <head>

    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     </head>
     <body>
     <header class="head-top">
      <nav class="navbar naver-fixed-top navbar-inverse">
         <h3 class="title">Bookers</h3>
         <div class="icon">
    <% if user_signed_in? %>

      <li>
       <%= link_to"Home", user_path(current_user.id),class:"glyphicon glyphicon-home" %>
    </li>

    <li>
    <%= link_to"Users", users_path,class:"glyphicon glyphicon-user" %>
    </li>

     <li>
    <%= link_to"Books",books_path,class:"glyphicon glyphicon-book" %>
     </li>

     <li>
     <%= link_to destroy_user_session_path, method: :delete do %>
     <i class="glyphicon glyphicon-log-out"></i>
     logout
     <% end %>
   </li>
 </div>

   <% else %>
   <div class="icon">
   <li>
    <%= link_to ("http://localhost:3000/") do %>
    <i class="glyphicon glyphicon-home" aria-hidden="true"></i>
     Home
     <% end %>
  </li>

  <li>
    <%= link_to home_about_path do %>
    <i class="glyphicon glyphicon-link" aria-hidden="true"></i>
    About
    <% end %>
   </li>

   <li>
  <%= link_to new_user_registration_path do %>
  <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
   sign up
   <% end %>
 </li>


 <li>
    <%= link_to new_user_session_path do %>
    <i class="glyphicon glyphicon-log-out" aria-hidden="true"></i>
    login
    <% end %>
   </li>

   <% end %>
 </div>
     </nav>
  </header>
  <% if user_signed_in? %>
  <div class="container">
  <div class="search">
    <h1>Search</h1>
<%= form_tag(search_path, :method => "get") do %>

<%= text_field_tag :search, params[:search] %>

<%= select_tag "option", options_for_select([["User", "1"],["Book","2"]]) %>

<%= select_tag "choice", options_for_select([["完全一致","1"],["前方一致","2"],["後方一致","3"],["部分一致","4"]]) %>

    <%= submit_tag "検索", :name => nil %>
<% end %>
<% end %>
</div>
</div>

<%= yield %>
</body>
</html>
